<body>
  <div class="grid-container contact-container">
    <div>
      <img src="../assets/icons/013-newsletter.png" alt="" />
      <div class="contact-left">
        <a href="">Contacto</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div>
      <img src="../assets/icons/006-like.png" alt="" />
      <div class="contact-right">
        <a href="">Escribe</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</body>
